<footer class="site-footer">
  <div class="footer-inner">
    <span>Content is released under <a href="https://creativecommons.org/public-domain/cc0/">CC0</a> where not otherwise indicated.</span>
    <span>Agpedia is a <a href="https://permacommons.org/">Permacommons</a> project.</span>
    <span>Free forever.</span>
  </div>
</footer>
