<footer class="site-footer">
  <div class="footer-inner">
    <span>{{{__ "footer.license"}}}</span>
    <span>{{{__ "footer.project"}}}</span>
    <span>{{__ "footer.free"}}</span>
  </div>
</footer>
